[submodule "electron-quick-start"]
	path = electron-quick-start
	url = https://github.com/electron/electron-quick-start
[submodule "obs-studio"]
	path = obs-studio
	url = https://github.com/obsproject/obs-studio.git
